body {
  max-width: 90%;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 100px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  aspect-ratio: 1;
}

.grid-item > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alphabets-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.alphabet {
  width: 100px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  font-size: 2rem;
}
