body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 60px;
}

h2{
  text-align: center;
  margin: 5px;
  font-size: 20px;
}

.attempt {
  text-align: center;
  display: inline-flex;
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-gap: 10px;
  max-width: 80%;
  margin: 0 auto;
}

.past-rows {
  background-color: #ccc;
}


.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  font-size: 2rem;
  border: 1px solid #000;
}

.grid-item > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alphabets-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.alphabet {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  font-size: 2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.enter-button, .delete-button {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.correct {
  background-color: rgb(29, 148, 29);
}

.ok {
  background-color: rgb(255, 145, 0);
}

.wrong {
  background-color: #ccc;
}

@media screen and (min-width: 800px) {
  body {
    width: 80%;
  }
}
